%h4.subpage-title RailsCasts

- @railscasts.each_slice(3) do |railscasts|
  .row
    - railscasts.each do |railscast|
      .col-md-3
        .thumbnail
          = link_to image_tag(railscast.image_url), railscast
          .caption
            %h4= railscast.name
            = link_to railscast, class: 'btn btn-danger btn-sm btn-block' do
              %i.icon-link
              RailsCast Link
            %p
              = link_to railscast, class: 'btn btn-warning btn-sm btn-block' do
                %i.icon-play-sign
                Tips
