- content_for :main_search do
  .container-fluid
    .jumbotron.search
      %h1 Railscasts' best kept secrets
      %p Try searching for a hidden topic
      .row
        .col-lg-6.col-lg-offset-3
          .input-group
            %input.form-control{:type => "text"}
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Search!

.our-services
  .row
    .col-md-4
      .service
        %span.service-icon
          %i.icon-laptop
        %h4 Episode 1
        %p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.
    .col-md-4
      .service
        %span.service-icon
          %i.icon-code
        %h4 Episode 11
        %p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.
    .col-md-4
      .service
        %span.service-icon
          %i.icon-cog
        %h4 Episode 111
        %p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.
  / /.container
