// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.search{
  background: url(image-path('slides/slide3.jpg'));
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  h1{
    font-size: 50px;
    color: #464646;
  }
  h2 {
    color: #464646;
  }
  p {
    color: #464646;
  }

  .input-group{
    input.form-control{
      height: 39px;
    }
  }
}

.pricing .p-footer{
  p{
    font-weight: bold;
    font-size: 1.1em;
    color: darken(#95a5a6, 30);
    height: 50px;
    margin-bottom: 17px;
  }
}

.container.faq{
  /* color: darken(#95a5a6, 30); */
}

.page-title-wrapper {
  padding: 30px 0;
}

p.justified{
  text-align: justify;
}
