// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.search{
  background: url(image-path('slides/slide.jpg'));
  text-align: center;

  h1{
    font-size: 50px;
  }

  .input-group{
    input.form-control{
      height: 39px;
    }
  }

}
