// Place all the styles related to the treasures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bs-callout{
  color: darken(#95a5a6, 30);

  a {
    color: #FF950E
  }
}

.thumbnail {
  margin-bottom: 30px;
}

.caption{
  .title {
    height: 80px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  h4 {
    text-align: center;
    font-weight: 100;
  }
}

.description {
  color: #95a5a6;
  height: 30px;
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.item-description{
  ul.tagcloud-list{
    font-size: 1.5em;
  }
}

.subpage-title.tip-description {
  padding-top: 20px;
  line-height: 20px;
  color: #464646;
  text-transform: none;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}

.tip-related-table {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
}

.tip-related-table-head {
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #ecf0f1;
}

.row.tip-related {
  padding: 5px 0;
  border-bottom: 1px solid #ecf0f1;
}

.tip-details {
  border: 1px solid #ecf0f1
}

.project-details-list h6 {
  color: #95a5a6;
}

.railscast-result td {vertical-align: top }
.railscast-image img { width: 60px;  }
.railscast-info { padding-left: 10px; vertical-align: top; }
.railscast-title { font-size: 1.2em; padding-bottom: 15px; }
.railscast-synopsis { font-size: .8em; color: #888; }
.select2-highlighted .railscast-synopsis { font-size: .8em; color: #eee; }

