// Place all the styles related to the treasures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  margin-bottom: 30px;
}

.title {
  height: 80px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.description {
  color: #95a5a6;
  height: 30px;
  display: block;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.item-description{
  ul.tagcloud-list{
    font-size: 1.5em;
  }
}
