.col-md-3
  .thumbnail
    = link_to image_tag(treasure.railscast.image_url), treasure
    .caption
      %h4= link_to treasure.description.truncate(90), treasure
      %span.title
        %b Railscast:
        = link_to treasure.railscast.name, treasure.railscast.url
      %p
        = link_to treasure, class: 'btn btn-warning btn-sm btn-block' do
          %i.icon-play-sign
          Watch Tip
