%section
  .container
    %h4.subpage-title Listing tip

    = get_message_for_search @search

    .col-md-9
      #tips
        - if @treasures.length > 0
          = render 'treasures_page', treasures_page: @treasures
          = paginate @treasures

    .col-md-3
      = render "side_bar"
