%section
  .container
    %h4.subpage-title Listing tip

    - @treasures.each_slice(3) do |treasures|
      .row
        - treasures.each do |treasure|
          = render "box", treasure: treasure


    = link_to 'Add Tip', new_treasure_path
