%section
  .container
    %h4.subpage-title Listing tip

    .alert.alert-warning
      = get_message_for_search @search

    .col-md-9
      - @treasures.each_slice(3) do |treasures|
        .row
          - treasures.each do |treasure|
            = render "box", treasure: treasure

    .col-md-3
      = render "side_bar"
